% rebase('base.tpl', header_content=header_content, loggedin=loggedin)

  <div class="box">
      <h2>ERROR</h2>
      <p>{{ errormessage }}</p>
      <p> <a href="{{ retrylink  }}">Please try it again</a></p>
  </div>
