body, form, ul, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}
html{
    background-color: rgba(200, 200, 200, 0.1);
    height:100%;
}
body {
    height:100%;
    background-color: rgba(200, 200, 200, 0.1);
}

.banner {
    position:relative;
    font-size: 19px;
    font-family: Verdana, sans-serif;
    background: #0a2b4f; /* Old browsers */
    background: -moz-linear-gradient(top, #0a2b4f 0%, #539ab8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a2b4f), color-stop(100%,#539ab8)); /* Chrome,Safari4+ */
    background: -webkit-linear-grahtdient(top, #0a2b4f 0%,#539ab8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0a2b4f 0%,#539ab8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0a2b4f 0%,#539ab8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0a2b4f 0%,#539ab8 100%); /* W3C */
    border-bottom: 2px solid black;
    height:60px;
    width: 100%;
    color:#999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.bannertext{
    float:left;
    margin: 10px;
}


.statusline {
    float: right;
    margin: 10px;
}

.banner A {
    color:#999;
}
.configscreen{
    background-color: rgba(200, 200, 200, 0.1);
    height:90%;
    width: 100%;
}

.menu {
    margin : 0px;
    float: left;
    width: 20%;
    min-width: 160px;
    min-height: 100%;
    height:auto;
    border-right : 1px solid #000;
}

.menulist {
    margin : 6px;
}

.content {
    width: 79.7%;
    float: right;
    height:auto;
    min-width: 480px;
/*    height:100%;*/
}

.plugincontent {
    margin : 4px;
    height:auto;
    min-width: 480px;
}

.buttongroup {
    float: left;
    margin : 4px;
}

.box {
    background-color: rgba(200, 200, 200, 0.1);
    color: #777;
    margin: auto;
    width: 20em;
    text-align: center;
}
input,select {
    background: #f8f8f8;
    border: 1px solid #777;
    margin: auto;
}


input:hover,select:hover { background: #fefefe}


.footer {
    background-color: rgba(200, 200, 200, 0.1);
    height:3%;
    width: 100%;
}
