<!--object data=http://localhost:2812 width="100%" height="100%">
<embed src=http://localhost:2812/ width="100%" height="100%" > </embed> Error:
Embedded data could not be displayed. </object-->

<iframe src="http://localhost:2812" width="99%" height=100%>
  <p>Your browser does not support iframes.</p>
  </iframe>
